@media screen and (min-width: 320px) and (max-width: 375px) {
	.wrapper {
        padding: 0px 25px;
    }
    .hamburger{
        display: block;
    }
    .active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .active .bar:nth-child(2){
        opacity: 0;
    }
    .active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .navigation {
		position: fixed;
        left: -200%;
        top: 70px;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        background-color: white;
	}
    .navigation.active{
        left: 0%;
    }
    .list_text{
        margin: 5px 0px;
    }
    .list_text::after{
        content: '';
        display: block;
        height: 2px;
        width: 350px;
        background-color: var(--subColor);
        margin: 5px auto;
    }
    /*-------------------header--------------------*/
	.dispaly{
		display: none;
	}
	.list_text {
		padding-right: 0px;
	}
	.left_side {
		width: 30%;
	}
	.left_side a img{
		width: 200px;
        padding: 10px 0px;
	}
	.right_side {
		width: 70%;
        padding-top: 15px;
		justify-content: flex-end;
	}
	.list_text {
		font-size: 2rem;
	}
    /*-------------------find--------------------*/
    .find{
        margin-top: 0px;
        flex-direction: column;
    }
    .find form{
        width: 100%;
        margin-bottom: 20px;
    }
    .pages{
        width: 100%;
        padding: 15px 0px;
    }
    form{
        padding-top: 0px;
    }
    #main_search{
        height: 63px;
    }
    /*-------------------settings--------------------*/
    .buy_shorts{
        flex-direction: column;
        padding: 25px;
    }
	.catalog_settings {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		width: 100%;
		display: flex;
	}
	.catalog_block {
		width: 100%;
	}    /*-------------------shorts--------------------*/
    .choose_shorts{
        grid-template-columns: repeat(1, auto);
        gap: 50px;
        margin: 0 auto;
        width: min-content;
    }
    .short{
        width: 100%;
    }
    .short a img {
        padding: 25px 10px 24px 10px;
    }
    .cart{
        width: 60%
    }

	/*-------------------footer--------------------*/
    .footer{
        padding: 20px;
    }
    .wrapp_links {
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }
	.header_link, .know_us header {
		font-size: 1.3rem;
	}
    .links {
        width: 50%;
        margin-right: 5px;
    }
    .header_link, .know_us header {
        font-size: 1.5rem;
        padding-bottom: 10px;
    }
	.links ul li, .know_us p, form label {
		font-size: 1rem;
	}
    .info{
        display: none;
    }
	.one_input {
		height: 40px;
		padding-left: 10px;
		font-size: 1.2rem;
	}
    form div {
        flex-direction: column;
    }
	.subscribe {
		right: 0px;
		width: 80px;
		font-size: 1.2rem;
		height: 40px;
	}
	.one_input {
        margin-top: 0px;
        width: 100%;
    }
	.reserved {
		height: 10px;
		font-size: 1rem;
		padding-top: 0px;
	}
    .scroller {
		height: 53px;
		width: 53px;
        left: 80%;
	}
	.scroller a img {
		padding: 10px 0px;
		height: 30px;
	}
    .pagination{
        width: 100%;
        justify-content: center;
        padding: 0px 0px 20px 0px;
    }
}
